[Unit]
Description=PySSDP Server – UPnP SSDP discovery server
After=network-online.target

[Service]
WorkingDirectory=/home/eyepoint/Develop/server/
ExecStart=/usr/bin/python3 main.py

[Install]
WantedBy=multi-user.target