[Unit]
Description=Revealer
After=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/eyepoint/Develop/server/main.py

[Install]
WantedBy=multi-user.target